:root {
  --light: rgb(237, 237, 237);
  --grey: rgb(44, 44, 44);
  --dark: rgb(20, 20, 20, 0.7);
  --darkblue: rgb(18, 5, 92);
}

body{
  background-size: auto 500px;
  background-repeat: no-repeat;
  background: url('../../images/popcornDrink.png') bottom right no-repeat fixed;
  background-color: var(--grey);
  height: 100vh;
}

ul {
  padding: 0;
}

.btn {
  background-color: var(--darkblue);
  padding: 15px;
  color: var(--light);
  cursor: pointer;
  width: 15%;
  border-radius: 4px;
  border: none;
}

.btn.back{ 
  margin: 0 auto;
  width: 100%;
}

.btn:hover {
  opacity: 0.75;
}

.search-container {
  display: inline-flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.movie-list-container {
  margin: 0 auto;
}

.result-container {
  background: var(--dark);
  width: 100%;
  display: inline-flex;
  margin-top: 2rem;
}

.result-details {
  color: var(--light);
  padding: 2rem;
  width: 100%;
}

.result-title {
  font-weight: bold;
}

.movie-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 100vh;
  color: var(--light);
} 

.movie-subcontainer {
  text-align: center;
  padding: 2rem 0 0 0;
  width: 100%;
}

.title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.subtitle {
  font-size: 25px;
  text-align: center;
  width: 100%;
}

input {
  padding: 12px 22px;
  width: 100%;
  font-weight: bold;
}

.movie-title {
  cursor: pointer;
  background: #141414;
  border-radius: 5px;
  border: var(--darkblue) solid 3px;
  text-align: center;
  margin-top: 6px;
}

.movie-title:hover{
  opacity: 0.75;
}

.detail {
  text-align: left;
  padding: 0.5rem;
  border-top: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
}

.additional-detail {
  background: var(--dark);
  color: var(--light);
  padding: 0 2rem 2rem;
  width: 100%;
}

.additional-title {
  padding-top: 2rem
}

.detail-unborder {
  text-align: left;
  padding: 0.5rem;
}

.error-container {
  width: 100%;
  padding: 1rem;
}

.error-message {
padding: 1rem;
}

.image-copyright a {
  font-size: 10px;
  color: var(--dark);
}

.image-copyright{
  font-size: 10px;
  color: var(--dark);
}

img.poster {
  padding: 2rem 0 2rem 2rem;
  height: 600px;
  width: auto;
}

img.star {
  height: 12px;
  width: auto;
}

img.filmIcon {
  height: 42px;
  width: auto;
}